<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <!--客户端处理Handler-->
    <bean id="clientHandler" class="com.changhewl.hotel.mina.handler.ClientHandler"/>
    <!--服务端处理Handler-->
    <bean id="serviceHandler" class="com.changhewl.hotel.mina.handler.ServiceHandler"/>

    <bean id="loggingFilter" class="org.apache.mina.filter.logging.LoggingFilter"/>
</beans>